<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369039046664-fpqlh820e9frlncs9morqf40he4opa8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369039046664-fpqlh820e9frlncs9morqf40he4opa8q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>369039046664-a5qhsbfibjjtb74mjc1ljf5jjei2me9p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_T73fYZPqOO-m7LDFNCw_pMFQyTWpaP8</string>
	<key>GCM_SENDER_ID</key>
	<string>369039046664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.receitadodia</string>
	<key>PROJECT_ID</key>
	<string>receita-dia</string>
	<key>STORAGE_BUCKET</key>
	<string>receita-dia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369039046664:ios:3654ed58a04583b03ab9bd</string>
</dict>
</plist>